.toast-container {
  .ngx-toastr {
    padding: 15px !important;
  }

  .toast-error {
    background-image: none;
  }

  .toast-success {
    background-image: none;
  }

  .toast-info {
    background-image: none;
  }

  .toast-warning {
    background-image: none;
  }
}
